
/* Global */
  body{
    background: rgb(65, 21, 21);
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: .95em;
  }

  .flex-center{
    display: flex!important; /* override slick */
    justify-content: center;
    align-items: center;
  }

  #heading{
    color: #fff;
  }

  .emphasized{
    font-weight: bold;
  }

  h2{
    margin-top: 5px;
  }

  a:focus {
    outline: none !important; /* removed blue outline around divs when clicked */
  }

  .center{
    text-align: center;
  }

  .mobile-h2{
    display: none;
  }
/* End Global */

/* Slides */

  .slide-container{
    height: 80vh;
    width: 75vw;
    border: 2px solid #111;
    background: linear-gradient(rgb(255, 255, 223), #fff);

  }
  .slide{
    height: 100%;
    width: 100%;
  }

  .instrument-slide{
    display: flex!important; /* override slick */
    justify-content: space-evenly;
    align-items: center;
  }

  .slick-list, .slick-track{
    height: 100%;
  }

  #slick-slide-control00::before, #slick-slide-control01::before, #slick-slide-control02::before, #slick-slide-control03::before, #slick-slide-control04::before, #slick-slide-control05::before, #slick-slide-control06::before, #slick-slide-control07::before{
    color: #fff;
  }

/* End Slides */

/* img */
  .content-box{
    height: 92%;
    width: 45%;
    overflow: auto;
  }

  .img-wrapper{
    height: 98%;
    overflow: unset;
  }

  .contain{
    max-width: 99%;
    max-height: 99%;
  }

  .popup-youtube{
    max-height: 100%;
    position: relative;
    text-decoration: none;
    text-align: center; 
  }

  .img{
    height: inherit;
    max-height: 99%;
    max-width: 100%;
    margin: auto;
  }

  .img-holder{
    height:inherit;
    max-height: 85%;
    max-width: 100%;
  }

  .click{
    color: #000;
  }

/* end img */

/* quiz */
  #quiz-home-btn:hover{
    cursor: pointer;
  }

  #quiz-area{
    height: 90%;
    width: 90%!important;
  }

  #questions{
    width: 75%;
    margin: auto;
  }

  .answers li a{
    background: #6d6dff;
    color: #fff;
  }

  .quiz-container{
    margin: 0;
    padding: 0;
  }
/* end quiz*/

/* Sources */
  #sources-wrapper{
    padding: 10px 20%;
    overflow: auto;
  }

  #sources-wrapper p{
    font-size: .8em;
  }
/* End Sources */

/* Mobile */
@media only screen and (max-width: 600px) {
  .instrument-slide{
    flex-direction: column;
  }
  .click{
    margin-bottom: 30px;
  }
  #sources-wrapper{
    padding: 15px;
  }
  #sources-wrapper p{
    max-width: 90%;
    margin: 3px;
  }
  .slide{
    overflow: auto;
  }
  .mobile-h2{
    display: block;
    margin: 5px 0;
  }
  .desktop-h2{
    display: none;
  }
  #heading{
    margin: .67em;
  }
  .content-box{
    width: 90%;
  }
  .text-wrapper{
    margin: 20px 0;
  }
  #quiz-header{
    font-size: .8em;
  }
  .question{
    font-size: .8em;
  }
  .img-wrapper{
    margin-bottom: 30px;
  }
}
/* End Mobile */
