
/* Global */
  body{
    background: #333;
    margin: 0;
  }

  .flex-center{
    display: flex!important; /* override slick */
    justify-content: center;
    align-items: center;
  }

  #heading{
    color: #fff;
  }

  .emphasized{
    font-weight: bold;
  }

  h2{
    margin-top: 5px;
  }

  a:focus {
    outline: none !important; /* removed blue outline around divs when clicked */
  }
/* End Global */

/* Slides */

  .slide-container{
    height: 80vh;
    width: 75vw;
    border: 2px solid #111;
    background: #eeeeee;

  }
  .slide{
    height: 100%;
    width: 100%;
  }

  .instrument-slide{
    display: flex!important; /* override slick */
    justify-content: space-evenly;
    align-items: center;
  }

  .slick-list, .slick-track{
    height: 100%;
  }

/* End Slides */

/* img */
  .content-box{
    height: 90%;
    width: 45%;
    overflow: auto;
  }

  .img-wrapper{
    height: 98%;
    overflow: unset;
  }

  .contain{
    max-width: 99%;
    max-height: 99%;
  }

  .popup-youtube{
    max-height: 100%;
  }

  .img{
    height: inherit;
    max-height: 99%;
    max-width: 100%;
  }

  .img-holder{
    height:inherit;
    max-height: 100%;
    max-width: 100%;
  }

/* end img */

/* quiz */
  #quiz-home-btn:hover{
    cursor: pointer;
  }

  #quiz-area{
    height: 90%;
    width: 90%!important;
    position: absolute;
    top: 0;
  }

  #questions{
    width: 75%;
    margin: auto;
  }

  .answers li a{
    background: #6d6dff;
    color: #fff;
  }
/* end quiz*/
